html{
	min-width:1200px;
}

body{
	background: #b4eced;
	background-image: url("sr_background.jpg");
	font-family: helvetica;
	overflow:auto;
}

canvas {
	border: 3px solid;
	cursor: pointer;
}

.canvas-wrapper {
	display: flex;
	justify-content: space-around;	
}
	
.content {
		max-width: 1200px;
		margin: auto;
		background: #f7f7f7;
        /*padding: 10px;*/
	}

.tools {
	display: flex;
	margin-top: 15px;
	margin-left: 10px;
}

.tools .color-field{
	height: 40px;
	width: 40px;
	min-height: 40px;
	min-width: 40px;
	cursor: pointer;
	display: inline-block;
	background-position: center right;
	border-style: solid;
	border-width: thin;
	font-size: 13px;
}

.tools .button {
	align-self: center;
	width: 50px;
	height: 40px;
	border: solid;
	cursor: pointer;
	color: white;
	background: black;
	font-weight: bold;
	margin: 0 15px;
}

#range-slider {
	cursor: pointer;
}



