

body{
	background: #000000;
	background-image: url("sr_background.jpg");
	font-family: helvetica;
}

canvas {
	border: 3px solid;
	cursor: pointer;
}

.canvas-wrapper {
	display: flex;
	justify-content: space-around;	
}
	
.content {
		max-width: 960px;
		margin: auto;
		background: #f7f7f7;
        padding: 10px;
}

.loader {  
  display: block;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #403f3f;	
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20	px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tools {
	display: flex;
	margin-top: 15px;
	margin-left: 10px;
}

.tools .color-field{
	height: 40px;
	width: 40px;
	min-height: 40px;
	min-width: 40px;
	cursor: pointer;
	display: inline-block;
	background-position: center right;
	border-style: solid;
	border-width: thin;
	font-size: 13px;
}

.tools .button {
	align-self: center;
	width: 50px;
	height: 40px;
	border: solid;
	cursor: pointer;
	color: white;
	background: black;
	font-weight: bold;
	margin: 0 15px;
}

#range-slider {
	cursor: pointer;
}



